Package: com.daydream.messagespro
Name: MessagesPro
Depends: mobilesubstrate, ws.hbang.common (>= 1.14)
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Constanze
Author: Constanze
Section: Tweaks
Version: 0.0.1-98+debug
Installed-Size: 376
